{% extends 'base.html'%}
    {% block styles%}
        {{ super() }}
            <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    {% endblock%}
    
    {% block content %}
    <hr>
    <h2 style="font-family:verdana";>Trending News</h2>
    <hr>
        {% for item in article %}
            <div class="container">
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <img src="{{item.urlToImage}}" class="card-img-top" alt="{{item.title}}">
                        <div class="card-body">
                        <h5 class="card-title"> {{item.source.name}} </h5>
                        <p class="card-text">{{item.title}} </p>
                        <p class="card-text">Published At {{item.publishedAt}} by {{item.author}}</p>
                        <p class="card-text"> ~{{item.description}} </p>
                        <p><a href="{{item.url}}" target="_blank"><button type="button" class="btn btn-primary">View Article</button></a></p>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
    {%endblock%}
