{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2  article-card">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <a href="{{news.url}}">
                  <h5 class="card-title"> {{news.name}} </h5></a>
                  <p class="card-text"> {{ news.description | truncate(10)}}</p>
                  <a href="{{news.url}}" class="btn btn-primary">View Article</a>
                </div>
        </div>
        </div>
        {% endfor %}
        {% endmacro %}

<!-- 
{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <div class="container-fluid">
          <p><a href="{{news.url}}" target="_blank">
              <h1>{{ news.name}}</h1>
            </a></p>
          <p>{{news.description}}</p>
        
        </div>
    {% endfor %}
        
{% endmacro %} -->
        